/* Import GitHub Markdown CSS for styling */
@import "github-markdown-css";

.markdown-body {
  /* Light theme styles */
  background-color: #f9f9f9; /* Light background */
  color: #333; /* Text color */
}

/* Media query to apply dark theme based on user preference */
@media (prefers-color-scheme: dark) {
  .markdown-body {
    background-color: #333; /* Dark background */
    color: #f9f9f9; /* Text color */
  }
}
